@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");
body {
    margin: 0px;
  }

.headerImage{
    position: absolute;
    width: 200px;
    margin: -50px 43%;
}

.playerX{
    display: absolute;
    margin-top: 0;
    padding-top: 50px;
    margin-left: 20%;
    color: white;
    text-shadow: 1px 1px lightgray;
}

.playerO{
    display: absolute;
    margin-top: -100px;
    padding-top: 50px;
    margin-left: 70%;
    color: white;
    text-shadow: 1px 1px lightgray;
}
  
.wrapper {
    display: inline-grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 3px;
    margin-left: 20%;
    margin-top: 50px;
    box-shadow: 0 80px 60px 0px black;
    border-radius: 5px;
}

.box {
    background-color: lightgray;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-size: 3em;
    border-radius: 5px;
}

.finish{
    font-family: 'Chelsea Market';
    margin-top: -500px;
    text-align: center;
    color: white;
    text-shadow: 4px 4px black;
    font-size: 2px;
    transition: font-size 1s;
    display: absolute;
}

nav{
    color: white;
	background-color: black;
    height: 150px;
    
}

.container{
    width: 950px;
    margin: 0 auto;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 80px 60px 0px black;
    border-radius: 0 0 10px 10px;
    height: 850px;
}

.restart{
    display: block;
    margin: 300px auto;
    width: 0%;
    image-resolution: 30%;
    transition: all 1s;
}